<!DOCTYPE html>
<html lang="{{@site.locale}}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{meta_title}}</title>
    <meta name="HandheldFriendly" content="True" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/nord.css"}}">
    <link rel="stylesheet" type="text/css" href="{{asset "css/main.css"}}">
    <link rel="stylesheet" type="text/css" href="{{asset "css/prism.css"}}" />
    {{ghost_head}}
</head>
<body class="{{body_class}}">
    <div class="terminal bordered">
        <header>
            <h1 class="site-title"><a href="/" class="quiet-link">{{@site.title}}</a></h1>
            <span class="secondary">{{@site.description}}</span>

            <nav>
                {{ navigation }}
            </nav>

            <hr>
        </header>

        {{{body}}}
    </div>
    {{ghost_foot}}
    <script src="{{asset "js/prism.js"}}"></script>  
    <script src="{{asset "js/script.js"}}"></script>
</body>
</html>